@import '_reset.scss';
body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .title {
    display: flex;
    align-items: center;
    img {
      width: 60px;
      height: 60px;
    }
    h1 {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  .select_league {
    display: flex;
    align-items: center;
    div {
      margin: 0 8px;
      cursor: pointer;    
    }
  }
}

.fade_off {
  opacity: 0;
}
.fade_on {
  opacity: 1;
  transition: opacity 1s;
}
.container {
  padding: 1%;
  .table-box {
    display: flex;
    justify-content: space-evenly;
  }
}