.team-player {
  width: calc(95%/4);
  margin: 0.5%;
  padding: 10px;
  display: flex;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  cursor: pointer;
  transition: ease-in 0.2s;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    h1 {font-size: 1.5rem; font-weight: 600;}
    p {font-size: 1.1rem; margin: 8px 0 20px;}
    h5 {
      font-size: 1.3rem;
    }
  }
  &:hover {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.40);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.40);
  }
}

.bg-black {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.fade_off {
  opacity: 0;
}

.fade_on {
  opacity: 1;
  transition: opacity 0.4s;
}